body {
  @apply leading-normal font-sans tracking-normal text-base text-black;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold mt-0;
}

h1 {
  @apply text-3xl leading-tight mb-4;
}

h2 {
  @apply text-3xl leading-tight mb-4;
}

h3 {
  @apply text-2xl leading-tight mb-4;
}

h4 {
  @apply text-xl mb-4;
}

h5 {
  @apply text-lg mb-2;
}

h6 {
  @apply text-base mb-2;
}

strong {
  @apply font-bold;
}

ul {
  @apply mb-4;

  & li {
    @apply ml-4 mb-2;
    list-style: disc;

    & ul {
      @apply mb-0;
    }
  }
}

ol {
  @apply mb-4;

  & li {
    @apply ml-4 mb-2;
    list-style: decimal;

    & ol {
      @apply mb-0;
      & li {
        list-style: lower-roman;
      }
    }
  }
}

blockquote {
  @apply my-4 border-l-4 border-gray-200 pl-4;
}

p {
  @apply mt-4 mb-6;
}

a {
  @apply underline;
}

table {
  @apply w-full my-4;

  & tr {
    & th {
      @apply border border-gray-200 font-bold py-1 px-2;
    }

    & td {
      @apply border border-gray-200 py-1 px-2;
    }
  }
}

.blockText p:first-of-type {
  @apply mt-0;
}
