.layout-outset-both, .content iframe {
    @apply mb-6 text-center;

    & img {
        max-width: 80%;
    }

    @screen lg {
        margin-left: -150px;
        margin-right: -150px;
        width: calc(100% + 300px);
        max-width: none;

        & img {
            max-width: 100%;
        }
    }
}

.layout-outset-left {
    text-align: center;

    & img {
        max-width: 80%;
    }

    @screen lg {
        margin-left: -150px;
        width: calc(50% + 150px);
        max-width: none;

        & img {
            max-width: 100%;
        }
    }
}

.layout-outset-right {
    text-align: center;

    & img {
        max-width: 80%;
    }

    @screen lg {
        margin-right: -150px;
        width: calc(50% + 150px);
        max-width: none;

        & img {
            max-width: 100%;
        }
    }
}
