@charset "UTF-8";

@import './vendor/*';
@import './bootstrap.css';
@import './components/tailwind.css';
@import './components/typogrify.css';
@import './utilities/*';

@tailwind utilities;

.grid__site {
  @apply grid gap-x-4;
  grid-template-columns:
    minmax(1rem, 1fr)
    repeat(12, 1fr)
    minmax(1rem, 1fr);
}