{% block snippet_main %}
    <p>
        {% block snippet_content %}
            <a rel="permalink" href="{{ entry.url }}">
                {{ entry.title }}
            </a>
        {% endblock %}
    </p>
{% endblock %}