<div class="w-full max-w-content mx-auto flex flex-wrap lg:flex-no-wrap">
    <div class="layout-outset-left text-left">
        {{ block.body1|typogrify }}
    </div>
    <div class="layout-outset-right text-left">
        {{ block.body2|typogrify }}
    </div>
</div>
