{# @var craft \craft\web\twig\variables\CraftVariable #}
{% set image = block.asset[0] ?? null %}
{% if image %}
    <div class="max-w-content max-auto my-4">
        <figure class="block relative {% if block.position == 'full' %}layout-outset-both{% endif %}">
            {% include '_components/image' with {
                asset: image,
                transform: 'base',
                sizes: sizes ?? (block.position == 'full' ? '100vw' : '42rem'),
            } %}
        </figure>
    </div>
{% endif %}
