<div class="relative leading-normal sm:my-16 my-8 px-4 sm:px-0">
    <div class="flex items-end">
        <div class="absolute z-d1 mt-1">
            <svg width="101" height="85" xmlns="http://www.w3.org/2000/svg">
                <path d="M46.615 50.227V73.41c0 3.22-1.133 5.957-3.399 8.21C40.95 83.873 38.2 85 34.962 85H11.654c-3.237 0-5.989-1.127-8.255-3.38C1.133 79.365 0 76.628 0 73.41v-42.5c0-4.187.82-8.18 2.458-11.984 1.64-3.804 3.854-7.094 6.647-9.87 2.792-2.778 6.1-4.981 9.924-6.611C22.852.815 26.869 0 31.077 0h3.885c1.052 0 1.962.382 2.73 1.147.77.765 1.154 1.67 1.154 2.717v7.727c0 1.046-.384 1.952-1.153 2.717-.769.764-1.68 1.147-2.731 1.147h-3.885c-4.29 0-7.951 1.509-10.986 4.527-3.035 3.019-4.553 6.661-4.553 10.927v1.932c0 1.61.567 2.978 1.7 4.105 1.133 1.127 2.509 1.69 4.127 1.69h13.597c3.237 0 5.988 1.127 8.254 3.381 2.266 2.254 3.4 4.99 3.4 8.21zm54.385 0V73.41c0 3.22-1.133 5.957-3.399 8.21C95.335 83.873 92.583 85 89.346 85H66.038c-3.237 0-5.988-1.127-8.254-3.38-2.266-2.254-3.4-4.991-3.4-8.21v-42.5c0-4.187.82-8.18 2.459-11.984 1.639-3.804 3.854-7.094 6.646-9.87 2.792-2.778 6.1-4.981 9.924-6.611S81.253 0 85.462 0h3.884c1.052 0 1.963.382 2.732 1.147.768.765 1.153 1.67 1.153 2.717v7.727c0 1.046-.385 1.952-1.153 2.717-.77.764-1.68 1.147-2.732 1.147h-3.884c-4.29 0-7.952 1.509-10.987 4.527-3.035 3.019-4.552 6.661-4.552 10.927v1.932c0 1.61.567 2.978 1.7 4.105 1.133 1.127 2.508 1.69 4.127 1.69h13.596c3.237 0 5.989 1.127 8.255 3.381 2.266 2.254 3.399 4.99 3.399 8.21z" fill="#FBC14A" fill-rule="evenodd"/>
            </svg>
        </div>
        <div class="text-xl font-heading ml-18">{{ block.quote|typogrify }}</div>
    </div>
    <span class="ml-18 text-lg py-2 block">- {{ block.author }}</span>
</div>
