<div class="">
    <div class="container">
        <div class="flex flex-wrap -mx-4">
            <div class="w-1/3 px-4">
                <div class="">
                    <h2>{{ block.blockTitle }}</h2>
                    <div>{{ block.blockDescription|typogrify|raw }}</div>
                </div>
            </div>
            {% set teasers = craft.entries({
                sectionId: block.blockSection,
                limit: block.blockCount
            }).all %}
            {% for teaser in teasers %}
                <div class="w-1/3 px-4">
                    {% include '_resolvers/teaser' with { entry: teaser } %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
