<div class="w-full max-w-content mx-auto">
    <div class="relative flex flex-wrap lg:flex-no-wrap">
        <div class="layout-outset-{{ block.position }}
            {{ block.position == 'left' ? 'order-1 lg:mr-4' : 'order-1 lg:order-2 lg:ml-4' }}
        ">
            {% include "_components/blocks/image.twig" with {
                sizes: '100vw, (min-width: 576px) 50vw',
            } %}
        </div>
        <div class="flex-1 {{ block.position == 'left' ? 'order-2' : 'order-2 lg:order-1' }}">
            {% include "_components/blocks/text.twig" %}
        </div>
    </div>
</div>
