{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/base" %}

{# Add a dns prefetch header #}
{% set baseUrl = alias('@baseUrl') ~ '/' %}
{% header "Link: <#{baseUrl}>; rel=dns-prefetch;,<#{baseUrl}>; rel=preconnect; crossorigin;" %}

{# Set the `bodyClass` variable to the entry's section handle if there is one,
   or the first URI segment (this is used by the parent template) #}
{% if bodyClass is not defined %}
    {% set bodyClass = entry is defined ? entry.section.handle : craft.app.request.segments|first %}
{% endif %}

{% block body %}
    <div id="site">
        {% block header %}{% endblock %}

        <main>
            {# -- Primary content block -- #}
            {% block main %}{% endblock %}
        </main>

        {# -- Footer -- #}
        <footer id="footer">
            {% block footer %}{% endblock %}
            {% include "_layouts/footer" %}
        </footer>
    </div>
{% endblock %}
