{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
 # Pagebuilder include template
 # -----------------------------
 #
 # This template is used to output HTML for the main content Matrix field.
 #
 # An `entry` variable is expected to be defined.
-#}

{% set closedLastRow = true %}
{% set totalWidth = 0 %}

{# Load all our blocks with eager loading #}
{% set blocks = entry.builder.with([
    'image.asset',
]).all %}

{% for i, block in blocks %}
    {# Calculate this block's width percentage #}
    {% if block.width and block.width != 'full' %}
        {% set widthPercentage = (block.width|split('/')|first|number / block.width|split('/')|last|number) * 100 %}
    {% else %}
        {% set widthPercentage = 100 %}
    {% endif %}

    {# Are we starting a new row? #}
    {% if closedLastRow %}
        {# Should this block be inside the container? #}
        <div class="
            {% if blocks[i-1] is defined and blocks[i-1].type.handle in ['text', 'image'] %}mt-5{% else %}mt-5 sm:mt-10{% endif %}
            {% if blocks[i+1] is defined and blocks[i+1].type.handle in ['text', 'image'] %}mb-5{% else %}mb-5 sm:mb-10{% endif %}
            {% if block.positionType != 'container' and block.type.handle in ['text', 'image'] -%}container{%- endif -%}
        ">
        {# Extra div for gutters #}
        <div class="flex flex-wrap -mx-4">
    {% endif %}

    {# md:w-1/2 md:w-1/3 md:w-2/3 md:w-1/4 md:w-3/4 md:w-1/5 md:w-2/5 md:w-3/5 md:w-4/5 md:w-1/6 md:w-5/6 md:w-full bg-vasco-grey bg-vasco-blue bg-vasco-green text-vasco-green text-vasco-blue #}
    <div class="block-{{ block.type.handle }} mx-auto px-4 w-full md:w-{{ block.width }}">
        {# Load our component #}
        {% include '_components/blocks/' ~ block.type.handle %}
    </div>

    {# If we closed the last row, totalWidth = this width, otherwise add to it #}
    {% if closedLastRow %}
        {% set totalWidth = widthPercentage %}
    {% else %}
        {% set totalWidth = totalWidth + widthPercentage %}
    {% endif %}

    {# Are we closing this row? #}
    {% set nextIsFull = blocks[i+1].positionType is defined and blocks[i+1].positionType == 'column' ? false : true %}
    {% if nextIsFull or totalWidth >= 100 %}
        </div>
        </div>
        {% set closedLastRow = true %}
    {% else %}
        {% set closedLastRow = false %}
    {% endif %}
{% endfor %}
