
{% block teaser_main %}
    <p>
        {% block teaser_content %}
            {% set image = entry.teaserImage[0] ?? null %}
            <a rel="permalink" href="{{ entry.url }}">
                {% if image %}
                    {% include '_components/image' with {
                        asset: image,
                        transform: 'landscape-3/2',
                        sizes: '20vw',
                        classes: 'w-full',
                    } %}
                {% endif %}
                {{ entry.title }}
            </a>
        {% endblock %}
    </p>
{% endblock %}